<!-- src/main/resources/templates/navbar.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <style>
    .navbar {
      background: #007ACC;
      padding: 10px 0;
      text-align: center;
    }

    .navbar a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      margin: 0 15px;
      padding: 10px 15px;
      border-radius: 4px;
      transition: background 0.3s;
    }

    .navbar a:hover {
      background: #005EA8;
    }
  </style>
</head>
<body>
<div class="navbar">
  <a href="/mailing">Рассылка</a>
  <a href="/game/all">Список игр</a>
  <a href="/game/save">Создать игру</a>
</div>
</body>
</html>
